<a href="https://colab.research.google.com/github/Explorer9/miscellaneous/blob/main/initalizing%20pyspark%20in%20colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
!tar -xvf spark-3.1.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [5]:
df = spark.read.csv("/content/drive/MyDrive/ad_traficking/ad_traficking/train.csv", header=True, inferSchema=True)

In [6]:
df.count()

184903890

In [ ]:
pdd=df.sample(withReplacement=False, fraction=0.10).toPandas()

In [22]:
import pandas as pd

In [11]:
import pandas as pd
import random

n = 184903890 #number of records in file
s = 100000 #desired sample size
filename = "/content/drive/MyDrive/ad_traficking/ad_traficking/train.csv"
skip = sorted(random.sample(range(n),n-s))
df = pandas.read_csv(filename, skiprows=skip)

In [14]:
df.columns=['ip','app','device','os', 'channel', 'click_time','attributed_time', 'is_attributed']

In [20]:
df['attributed_time'].isnull().count()/len(df['attributed_time'])

1.0

In [24]:
df.to_csv('sampled.csv')

In [27]:
df

           ip  app  device  ...           click_time  attributed_time is_attributed
0      168937    2      59  ...  2017-11-06 16:00:07              NaN             0
1      107968    2       1  ...  2017-11-06 16:00:08              NaN             0
2       54525   12       1  ...  2017-11-06 16:00:19              NaN             0
3       24865    3       1  ...  2017-11-06 16:00:19              NaN             0
4       42384   18       1  ...  2017-11-06 16:00:20              NaN             0
...       ...  ...     ...  ...                  ...              ...           ...
99995  354925   14       1  ...  2017-11-09 15:59:53              NaN             0
99996   48170   15       1  ...  2017-11-09 15:59:55              NaN             0
99997   44615   15       1  ...  2017-11-09 15:59:55              NaN             0
99998  137487   27       1  ...  2017-11-09 15:59:58              NaN             0
99999  106485   11       1  ...  2017-11-09 16:00:00              NaN             0

[100000 rows x 8 columns]

In [33]:
df=df.drop(['attributed_time'],axis=1)

In [37]:
df['is_attributed'].value_counts()

0    99731
1      269
Name: is_attributed, dtype: int64

In [44]:
df.show()

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45369)
Traceback (most recent call last):
  File "/content/spark-3.1.1-bin-hadoop2.7/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-3.1.1-bin-hadoop2.7/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: ignored